
:root {
  --light-color: #FFF;
  --background-color: #111;
  --primary-color: #3cff00;
  --primary-color-low: #2dc200;
  --secondary-color: #ff1100;
  --dark-grey: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui;
  background-color: var(--background-color);
  color: var(--light-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 12rem;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  border-radius: 5px;
  color: #EEE;
  font-family: monospace;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  width: 150px;
  border: 3px solid var(--dark-grey);
  background-color: #111;
  transition: 0.12s ease-in-out;
  margin-top: 20px;
}

button:not(:last-child) {
  margin-right: 5px;
}

button:hover {
  color: var(--background-color) ;
  border: solid var(--light-color);
  background-color: var(--primary-color);
}

button:active {
  color: #111 ;
  border: solid var(--light-color);
  background-color: var(--primary-color-low);
  font-size: 17px;
}

.dev {
  position: absolute;
  bottom: 0;
  margin: 20px;
  font-family: monospace;
  letter-spacing: 0.5ch;
}

.history-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-self: flex-start;
  width: 130px;
  margin-top: 12px;
  margin-left: 10px ;
}

.history {
  position: relative;
  height: 112px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.062) 80%,rgba(0, 255, 13, 0.685) 55%);
  overflow: hidden;
  margin-top: 8px;
  border-radius: 5px;
}

.history-container > p {
  font-family: monospace;
  letter-spacing: 3px;
}

#save {
  display: none;
}

#save, #reset:hover {
  background-color: var(--background-color);
  border-color: #bbb;
  color: var(--light-color);
}


#save, #reset:active {
  background-color: var(--background-color);
  border-color: var(--light-color)
}


#decrease:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 500px)  {

  h1 {
    font-size: 10rem;
  }

  .history-container {
    display: flex;
    /* justify-content: space-around; */
    align-self: center;
    width: 130px;
    margin: 30px;
  }

  .buttons {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  #reset, #save{
    order: 1;
  }

  button:not(:first-child) {
    margin-right: 5px;
  }
  
}

@media screen and (max-width: 304px)  {

  h1 {
    font-size: 9rem;
  }
 .dev {
  display: none;
}
.buttons {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap-reverse;
  justify-content: center;
  text-align: center;
}
  #reset, #save {
    order: 0;
  }
}